<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="keywords" content='ljik.ru, блоги, видео, цитаты, сообщения, сообщества, заметки, напоминания'>
        <meta name="description" content='ljik.ru - заведите свой блог, делитесь записями, публикуйте видео и оставляйте заметки'>
        <link rel="stylesheet" href="/web/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="/web/css.css" type="text/css" media="screen">
        <title>Страница не найдена =(</title>
   </head>
   <body>
    <div class="container">
      <div class="header">
        <a href="/">ljik.ru</a>
      </div>
      <div class="body">
          <h1 class="title">Страница не найдена =( =( =( 404 =( =( =(</h1>
      </div>
      <div class="footer">
        <p>ljik.ru</p>
        <p>© Copyright 2010-2011 <a href="http://andrey.opeykin.ru">Опейкин Андрей</a></p>
      </div>
    </div>
</body>
</html>