@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('http://themes.googleusercontent.com/font?kit=7jR1T900H5YEkd1UcZhA_fesZW2xOQ-xsNqO47m55DA') format('truetype');
}
